#Apresentacao {
    position: absolute;
    width: 718px;
    height: 63px;
    left: 198px;
    top: 312px;
    font-style: normal;
    font-weight: normal;
    font-size: 57px;
    line-height: 67px;
    color: #000000;
}